body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.contact-info div {
    margin: 0 20px;
}

h2 {
    color: #333;
}

footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
}